body{
    margin: 0;
    padding: 0;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#object{
    z-index: 3;
}
#root{
    z-index: 2;
}

/* button -- */

button{
    border: none;
    background-color: #f4f4f4;
    position: relative;
}

button:hover, button.locked:hover, button.hidden:hover{
    background-color: #caddf0;
}

button:focus{
    outline: none;
}

button.selected, button.hidden.selected, button.locked.selected{
    background-color: #89c4ff;
}

button.hidden{
    background-color: #dddddd;
    color: #999999;
}

button.locked{
    background-color: #ffe7ff;
}

/* -- button */

/* title -- */

h4{
    margin: 0;
    padding: 10px;
    background-color: #cccccc;
}

/* -- title */

/* panel -- */

.panel{
    border: 1px solid #777777;
    margin: 10px;
}

.panel > div{
    max-height: 300px;
    overflow: auto;
}

#app-el-left, #app-el-top, #app-el-right{
    position: absolute;
    z-index: 9999;
}

#app-el-left{
    width: 80px;
    top: 20px;
    left: 20px;
}

#app-el-top{
    height: 50px;
    top: 20px;
    left: 160px;
}

#app-el-right{
    width: 200px;
    top: 20px;
    left: calc(100% - 250px);
}

/* -- panel */

/* layer entity -- */

.layer-entity{
    background-color: #ffffff;
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.layer-entity img{
   float: left;
}

.layer-entity span{
   float: left;
   display: block;
   margin: 6px;
   width: 100px;
   text-align: left;
   white-space: nowrap;
}

/* -- layer entity */

/* color -- */

.color{
    padding: 10px;
    border: 2px solid #ffffff;
}

.color.selected{
    border: 2px solid #555555;
}

/* -- color */

/* text -- */

.text{
    margin: 0;
    padding: 5px;
}

.text p{
    margin: 0;
    padding: 5px 10px;
}

/* -- text */

/* entity indicator -- */

i.attach-entity{
    display: block;
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

i.static-entity{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
i.static-entity::before{
    content: "S";
    display: block;
}

/* -- entity indicator */

/* components -- */

/*  cross -- */

.cross{
    position: relative;
    background: none !important;
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
    transform:rotate(45deg);
}

.cross:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}

.cross:after {
    top: 50%;
    left: 0;
    height: 1px;
    margin-top: 0;
    width: 100%;
}

/*  -- cross */

/* -- components */