body{
    margin: 0;
    padding: 0;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#object{
    z-index: 3;
}
#root{
    z-index: 2;
}

/* Button style */

button{
    border: 1px solid #cccccc;
    background-color: #f4f4f4;
}

button:hover{
    background-color: #caddf0;
}

button:focus{
    border: 2px solid #9bbadd;
    outline: none;
}

button.selected{
    background-color: #89c4ff;
}