body{
    background-color: #222222;
    text-shadow: #000000 1px 1px;
    color: #f4f4f4;
}

#app-el-top{
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    background-color: #4d4d4c;
}

#app-el-footer{
    border-top: 1px solid #222222;
    background-color: #4d4d4c;
}

#app-el-bottom{
    border-top: 1px solid #222222;
    background-color: #3e3e3e;
}

#app-el-right{
    background-color: #222222;
}

#app-el-right .app-zone-wrapper{
    background-color: #474747;
}

button{
    background-color: rgba(77, 77, 76, 0.51);
    color: #d9d9d9;
}

button:hover, button.locked:hover, button.hidden:hover{
    background-color: #333333;
}

button.hidden{
    background-color: #dddddd;
    color: #999999;
}

button.locked{
    background-color: #ffe7ff;
}

button.selected, button.hidden.selected, button.locked.selected{
    background-color: #395889;
}

.panel{
    background-color: #474747;
}

#app-el-bottom .panel{
    background-color: #323232;
}

.panel h4{
    background-color: #474747;
    color: #dbdbdb;
}

#app-el-bottom .panel.collapsed h4{
    background-color: #323232;
}

#app-el-bottom .panel h4{
    background-color: #3e3e3e;
}

#app-el-top-tab .panel.collapsed h4{
    background-color: #323232;
}

#app-el-top-tab .tab-item.selected h4{
    background-color: #222222;
}

#app-el-top-tab .tab-item h4{
    background-color: #323232;
}

#app-el-top-tab .panel div button{
    color: #5a5a5a;
}

#app-el-top-tab .panel div button:hover{
    color: #787878;
}

#app-el-top-tab .tab-list{
    background-color: #474747;
}

#app-el-body .body-item{
    background-color: #222222;
}

#app-el-body .body-item > div{
    background: none;
}

#app-el-body .body-item.has-content textarea{
    border: 0;
    color: #dcdcdc;
    background-color: #222222;
    outline: none;
}

#app-el-body .body-item.has-content p{
    color: #a1706e;
}

.panel > div{
    background-color: #3e3e3e;
}

.panel .panel{
    background-color: unset;
    border: none;
}

.panel.body-item > div{
    padding: 0;
}

.units-wrapper .panel .panel h4, .component-add-wrapper .panel h4{
    border: none;
    background-color: unset;
    border-top: 1px solid #4e4e4e;
}

.units-wrapper .panel h4 + div button[data-icon="times"]{
    background: none;
}

.panel .panel:first-child h4{
    border-top: none;
}

.panel .panel > div{
    border: none;
}

.panel .tree{
    background-color: #3e3e3e;
    border-right: 1px solid #323232;
}

.panel .tree .list-element-img-wrapper{
    background-color: unset;
}

#app-el-bottom .panel .tree .panel{
    background-color: #3e3e3e;
}

.panel .tree h4{
    background-color: #3e3e3e !important;
}

.panel .tree .list-element:hover{
    background: none;
}

.panel .tree .list-element button:hover{
    background-color: #4e4e4e;
}

.panel .tree .list-element.selected > button:hover{
    background-color: #3f6093;
}

.panel .tree .list-element.selected{
    background-color: #395889;
}

.panel-action{
    background-color: unset;
    border-bottom: 1px solid #323232;
}

.panel-action button{
    background-color: unset;
}

.panel-action button:hover{
    background-color: #474747;
}

.assets-wrapper .assets-list{
    background-color: #323232;
}

.assets-wrapper .assets-list .list-element-img-wrapper{
    background-color: unset;
}

.assets-wrapper .assets-list .list-element .list-element-img-wrapper i.status-new {
    color: #ffffff;
    background-color: #0b97c4;
}

.assets-wrapper .assets-list .list-element .list-element-img-wrapper i.status-success {
    color: #ffffff;
    background-color: #06a147;
}

.assets-wrapper .assets-list .list-element .list-element-img-wrapper i.status-error {
    color: #ffffff;
    background-color: #b94a48;
}

.animation-wrapper .panel:nth-child(1) div {
    background: none;
}
.animation-wrapper .panel:nth-child(2) .list-element{
    border-left: 1px solid #4d4d4c;
}
.animation-wrapper .panel:nth-child(2) .animation-form-wrapper{
    background-color: #3e3e3e;
}
.animation-wrapper .panel:nth-child(2){
  background-color: #323232;
}
.animation-wrapper .panel:nth-child(2) .animation-form-wrapper > .panel{
    border-right: 1px solid #4d4d4c;
}
.animation-wrapper .panel:nth-child(2) .list-element .text p{
    color: #787878 !important;
}
.animation-wrapper .panel:nth-child(2) .list-element.selected{
    background-color: #2c3545;
}

.units-wrapper .list-element .list-element-img-wrapper i{
    color: #333333;
}

#app-el-window .error-popup{
    background-color: #333333;
}

#app-el-window .error-popup > button:nth-child(1) i {
    color: #b94a48;
}

#app-el-window .error-popup > button:nth-child(1):hover{
    background-color: rgba(77, 77, 76, 0.51);
}

.panel .script-nodes div:not(.list-element) > button, .panel .component-add-wrapper button{
    background-color: #3f6093;
}

.color{
    border: 2px solid #4d4d4c;
}

.color.selected{
    border: 2px solid #555555;
}

.form .form-element-editing input[type=text], .form .form-element-editing input[type=number], .form .form-element-editing select{
    background-color: #323232 !important;
}

.form input[type=text]:hover, .form select:hover, .form input[type=number]:hover{
    background-color: #505050;
}

.form input[type=text], .form input[type=number]{
    border: 1px solid #5a5a5a;
    background-color: #3e3e3e;
    color: #f4f4f4;
    cursor: default;
}

.form select{
    border: 1px solid #5a5a5a;
    background-color: #3e3e3e;
    color: #f4f4f4;
}

.list-element:hover{
    background-color: #4e4e4e;
}

.list-element.selected:hover{
    background-color: #3f6093;
}

.list-element{
    background: none;
}

.units-wrapper .list-element:not(.selected):nth-child(2n) {
    background-color: #404040;
}

.units-wrapper .list-element:not(.selected):nth-child(2n):hover {
    background-color: #4e4e4e;
}

.list-element .list-element-img-wrapper{
    background-color: #f4f4f4;
}

.list-element.selected{
    background-color: #395889;
}

.list-element i{
    color: #d2d2d2;
}

::-webkit-scrollbar-track {
    background-color: #383838;
}

::-webkit-scrollbar-thumb {
    background-color: #555554;
}

h4{
    background-color: #cccccc;
}