body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    font-size: 11pt;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#object{
    z-index: 3;
    background-color: #f4f4f4;
}
#root{
    z-index: 2;
}

/* button -- */

button{
    border: none;
    position: relative;
}

button:hover, button.locked:hover, button.hidden:hover{
    background-color: #caddf0;
}

button:focus{
    outline: none;
}

button.hidden{
    background-color: #dddddd;
    color: #999999;
}

button.locked{
    background-color: #ffe7ff;
}

button[data-icon]{
    font-size: 18px;
    margin-bottom: 5px;
}

/* -- button */

/* title -- */

h4{
    margin: 0;
    padding: 10px;
    background-color: #cccccc;
}

/* -- title */

/* panel -- */

.panel{
    margin-bottom: 2px;
}

.panel > div{
    overflow: auto;
    margin-top: -1px;
    padding: 3px;
}

.panel-static > div:only-child{
    max-height: 300px;
}

.panel h4{
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

#app-el-left, #app-el-top, #app-el-right, #app-el-bottom{
    position: absolute;
    z-index: 9999;
}

#app-el-left{
    width: 40px;
    top: 52px;
    left: 0;
    padding: 5px;
    height: calc(100% - 63px);
}

#app-el-top{
    height: 40px;
    padding: 5px;
    top: 0;
    left: 0;
    width: calc(100% - 10px);
}

#app-el-right{
    width: 250px;
    top: 53px;
    left: calc(100% - 260px);
    padding: 5px 5px;
    height: calc(100% - 115px);
    overflow: auto;
}

#app-el-bottom{
    height: 40px;
    padding: 5px;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
}

/* -- panel */

/* layer entity -- */

.layer-entity{
    padding: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.layer-entity .entity-img-wrapper{
    width: 30px;
    height: 30px;
    float: left;
    padding: 5px;
    overflow: hidden;
}

.layer-entity span{
   float: left;
   display: block;
   margin: 12px 10px;
   width: 100px;
   text-align: left;
   white-space: nowrap;
}

.layer-entity i{
    float: right;
    line-height: 2.5rem;
    margin-right: 0.5rem;
}

/* -- layer entity */

/* color -- */

.color{
    padding: 10px;
}

/* -- color */

/* text -- */

.text{
    margin: 0;
    padding: 5px;
}

.text p{
    margin: 0;
    padding: 5px 10px;
}

/* -- text */

/* entity indicator -- */

i.attach-entity{
    display: block;
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

i.static-entity{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
i.static-entity::before{
    content: "S";
    display: block;
}

/* -- entity indicator */

/* form -- */

.form{
    margin: 0;
    padding: 0;
}

.form .form-input{
    margin: 0;
    padding: 5px;
}

.form .form-input input[type=checkbox]{
    float: left;
    margin: 3px 3px 3px 0;
}
.form .form-input label{
}

.form input[type=text], .form input[type=file]{
    border-radius: 2px;
    padding: 3px;
}

.form select{
    border-radius: 2px;
    padding: 3px;
}

/* -- form */

/* components -- */

/* graph -- */

.graph {
    text-align: center;
}

/* -- graph */

/* cross -- */

.cross{
    position: relative;
    background: none !important;
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
    transform:rotate(45deg);
}

.cross:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}

.cross:after {
    top: 50%;
    left: 0;
    height: 1px;
    margin-top: 0;
    width: 100%;
}

/*  -- cross */

/* -- components */

/* scroll -- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
/* -- scroll */