body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    font-size: 11pt;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}
#object{
    z-index: 3;
}
#root{
    z-index: 2;
}

/* button -- */

button{
    border: none;
    position: relative;
}

button:hover, button.locked:hover, button.hidden:hover{
    background-color: #caddf0;
}

button:focus{
    outline: none;
}

button.hidden{
    background-color: #dddddd;
    color: #999999;
}

button.locked{
    background-color: #ffe7ff;
}

button[data-icon]{
    width: 45px;
    height: 45px;
    font-size: 18px;
}

#app-el-left button[data-icon]:nth-child(1){
    border-radius: 5px 5px 0 0;
}

#app-el-left button[data-icon]:nth-last-child(1){
    border-radius: 0 0 5px 5px;
}

/* -- button */

/* title -- */

h4{
    margin: 0;
    padding: 10px;
    background-color: #cccccc;
}

/* -- title */

/* panel -- */

.panel > div{
    overflow: auto;
    padding: 5px;
}

.panel .panel > div{
    padding: 0;
}

.panel h4{
    padding: 10px 10px;
    margin: 0;
    display: inline-block;
}

.panel h4::before{
    display: block;
    float: left;
    margin-right: 7px;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 10px;
    line-height: 20px;
    content: "\f078";
}

.panel.collapsed h4::before{
    content: "\f054";
}

.panel.collapsed div {
    display: none;
}

#app-el-left, #app-el-top, #app-el-right, #app-el-bottom{
    position: absolute;
    z-index: 9999;
}

#app-el-left{
    width: 40px;
    top: 60px;
    left: 10px;
    border-radius: 5px;
}

#app-el-top{
    height: 45px;
    top: 0;
    left: 0;
    width: 100%;
}

#app-el-right{
    width: 250px;
    top: 47px;
    left: calc(100% - 260px);
    padding: 5px 5px;
    height: calc(100% - 105px);
    overflow: auto;
}

#app-el-bottom{
    height: 40px;
    padding: 5px;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
}

/* -- panel */

/* list element -- */

.list-element{
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.list-element .list-element-img-wrapper{
    width: 20px;
    height: 20px;
    float: left;
    overflow: hidden;
    margin: 5px;
    padding: 2px;
}

.list-element span{
    float: left;
    display: block;
    margin: 10px 10px 10px 5px;
    text-align: left;
    white-space: nowrap;
}

.list-element i{
    float: right;
    line-height: 2.5rem;
    margin-right: 0.5rem;
}

.list-element button{
    background: none;
    font-size: 14px;
    width: 25px;
    height: 25px;
    float: right;
    line-height: 2rem;
}

.list-element button:hover{
    background: none;
}

/* -- list element */

/* color -- */

.color{
    padding: 10px;
}

/* -- color */

/* text -- */

.text{
    margin: 0;
    padding: 5px;
}

.text p{
    margin: 0;
    padding: 5px 10px;
}

/* -- text */

/* entity indicator -- */

i.attach-entity{
    display: block;
    float: right;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

i.static-entity{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
i.static-entity::before{
    content: "S";
    display: block;
}

/* -- entity indicator */

/* form -- */

.form{
    margin: 0;
    padding: 0;
}

.form .form-input{
    margin: 0;
    padding: 5px;
}

.form .form-input input[type=checkbox]{
    float: left;
    margin: 3px 10px 3px 0;
}
.form .form-input label{
    width: 40%;
    padding-right: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form input[type=text], .form input[type=file]{
    border-radius: 2px;
    padding: 3px;
    width: 60%;
}

.form select{
    border-radius: 2px;
    padding: 3px;
    width: 60%;
}

.form.form-inline .form-input{
    float: left;
}

/* -- form */

/* components -- */

/* graph -- */

.graph {
    text-align: center;
}

/* -- graph */

/* cross -- */

.cross{
    position: relative;
    background: none !important;
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
    transform:rotate(45deg);
}

.cross:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}

.cross:after {
    top: 50%;
    left: 0;
    height: 1px;
    margin-top: 0;
    width: 100%;
}

/*  -- cross */

/* -- components */

/* scroll -- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
/* -- scroll */